@import '../../assets/styles/config.scss';

.menu {
    background-color: $menu-backgroun;
    color: $menu-text;
    max-height: $menu-height;
    min-height: $menu-height;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}