.uibutton {
    background-color: #cccccc;
    color: #000000;
    border: none;
    outline: none;
    padding: 0.7em 2em;
    margin: 0.5em;
    border-radius: 0.2em;
    box-shadow: rgba(0,0,0,0.5) 0px 2px 2px;
    font-weight: bold;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uibutton:active {
    box-shadow: rgba(0,0,0,0.5) 0px 2px 5px;
}

.uibutton:hover {
    opacity: 1;
}

.uibutton--primary {
    background-color: #0285ee;
    color: #fff;
}

.uibutton--primary:active {
    background-color: #65b4ff;
}

.uibutton--secondary {
    background-color: #663399;
    color: rgba(255, 255, 255, 0.89);
}

.uibutton--secondary:active {
    background-color: #191970;
}

.uibutton:disabled {
    background-color: #ccc;
    color: #999;
    box-shadow: none;
}

.uibutton--floating {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    border-radius: 50%;
    font-size: 2.5em;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
}

.uibutton__container {
    position: relative;
}

.uibutton__appcontainer > div {
    transform: translateZ(0);
}