@import '../../assets/styles/_config.scss';

.content {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $scrollbar-thumb $scrollbar-track; //tämä vissiin eri nettiselaimia varten
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
}