@import '../../assets/styles/_config.scss';

.item {
    display: flex;
    border-bottom: 1px solid $item-border;
    color: $item-text;
}

.item_data {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $item-padding;
}

.item_date, .item_time, .item_bloodsugar {
    text-align: right;
    
}

.item_bloodsugar {
    color:   #00cc00;
    font-weight: bold;
}

.item_type {
    font-weight: bold;
    color: $item-text-strong;
}

.item_edit {  //Next-merkin tyylit
    max-width: $item-edit-width;
    min-width: $item-edit-width;
    background-color: $item-edit-background;
    color: $item-edit-text;
    display: none; //(tällä saadaan se, että Next-merkki näkyy vasta, kun kursori ko. merkinnän päällä (alla hover-koodaus)
    justify-content: center;
    align-items: center;
}

.item:hover .item_edit {
    display: flex; //tämä kun kursori ko. kohdan päällä
}

.item_edit a {
    color: $item-edit-text;
}

