@import '../../assets/styles/_config.scss';

.header {
    background-color: $header-background;
    color: $header-text;
    max-height: $header-height;
    min-height: $header-height;
    font-size: $header-fontsize;
    display: flex;
    justify-content: center;
    align-items: center;
}