$header-background: #FF1493;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #FF1493;
$item-text: #999999;
$item-text-strong: #000000;
$item-padding: 0.75rem;

$menu-backgroun: #FFC0CB;
$menu-text: #ffffff;
$menu-height: $header-height;

$item-edit-background: #dddddd; // Next-napin taustan väri
$item-edit-text: #666666; //Next-napin väri
$item-edit-width: 2 rem; //Next-napin suhteellinen koko

$form-item-margin: 0.5rem 0.3rem;
$form-input-border: #999999;
$form-input-radius: 0.3rem;
$form-input-padding: 0.5rem;
$form-input-fontsize: 1.2rem;
$form-label-fontsize: 0.8rem;
$form-label-margin-bottom: 0.5rem;

$container-padding: 2rem;
