$header-background: #FF1493;
$header-text: #ffffff;
$header-height: 4rem;
$header-fontsize: 1.75rem;

$scrollbar-track: #ffffff;
$scrollbar-thumb: #e1e1e1;
$scrollbar-width: 0.5rem;

$item-border: #FF1493;
$item-text: #999999;
$item-text-strong: #000000;
$item-padding: 0.75rem;

$menu-backgroun: #FFC0CB;
$menu-text: #ffffff;
$menu-height: $header-height;

$item-edit-background: #dddddd; // Next-napin taustan väri
$item-edit-text: #666666; //Next-napin väri
$item-edit-width: 2 rem; //Next-napin suhteellinen koko